:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --color-main: #757575;
  --color-white-primary: #ffffff;
  --color-white-secondary: rgba(255, 255, 255, 0.6);
  --color-dark-primary: #212121;
  --color-accent-primary: #2196f3;
  --color-accent-secondary: #000000;
  --color-background-primary: #2f303a;
}

/* body */
body {
  font-family: var(--font-family-primary);
  color: var(--color-main);
}
/* ????? Нужно ли применять к body ещё какие-то стили ????? */
/* ????? Нужно ли использовать сброс:
a{text-decoration:none;} ul{list-style:none;}
?????*/
/* header */
.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent-primary);
}
.logo-accent-header {
  color: var(--color-accent-secondary);
}
.list-nav-header-item-link {
  color: var(--color-dark-primary);
}
.list-nav-header-item-link.current {
  color: var(--color-accent-primary);
}
.list-nav-header-item-link:hover,
.list-nav-header-item-link:focus {
  color: var(--color-accent-primary);
}
.list-contacts-header-item-link {
  color: var(--color-main);
}
.list-contacts-header-item-link:hover,
.list-contacts-header-item-link:focus {
  color: var(--color-accent-primary);
}
/* main */
/* hero */
.section-hero {
  background-color: var(--color-background-primary);
}
.title-section-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white-primary);
}
.button-section-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--color-accent-primary);
  color: var(--color-white-primary);
  cursor: pointer;
}
/* advantages */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* activities */
/* team */
/* examples */
/* footer */
.footer {
  background-color: var(--color-background-primary);
}
.logo-accent-footer {
  color: var(--color-white-primary);
}
.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-contacts-footer-address {
  color: var(--color-white-primary);
}
.link-contacts-footer {
  color: var(--color-white-secondary);
}
